<div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/promises">Promises Promises</button>
    <button mat-menu-item routerLink="/events">Events</button>
    <button mat-menu-item routerLink="/side-effects">Side Effects</button>
    <button mat-menu-item routerLink="/picsum">Picsum</button>
    <button mat-menu-item routerLink="/bacon">Bacon</button>
    <button mat-menu-item routerLink="/nested">Nested Subscribes</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>
